<!-- <div class="breadcrumb">
    <ul class="lst-breadcrumb">
        <li>
            <a href="javascript:;">Master</a>
        </li>
        <li>
            <a href="javascript:;">Parent</a>
        </li>
        <li class="current">{{ 'HOME.LOAN_CYCLE' | translate }}</li>
    </ul>
</div> -->
<div class="vspacer20"></div>
<main class="main-container">
    <div class="in-main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="in-mcontainer">
                        <!-- <table #dataTable class="display" style="width:100%">
                        </table> -->
                        <div class="row heading">
                            <div class="col-6">{{ 'HOME.LOAN_CYCLE_PARAMETER' | translate }}</div>
                            <div class="col-6">
                                <div class="text-right">
                                    <button *ngIf="!multipleDelete && rightsData.create == 1" class="button" routerLink="/loan-cycle-parameter-primary">{{ 'ACTION.ADD' | translate }}</button>
                                    <div class="action-img multiple-delete" *ngIf="multipleDelete && rightsData.delete == 1">
                                        <img (click)="multipleDeleteCheckboxes();" src="../../../assets/images/icon/Delete2x.png" title="Delete" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="datatable-box">
                            <div class="table-responsivebox">
                                <table id="dt-sample" class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">
                                                <label class="selection">
                                                    <input type="checkbox" name="" (change)="allCheckboxes($event)">
                                                </label>
                                            </th>
                                            <th scope="col">{{ 'HOME.CUSTOMER_TYPE' | translate }}</th>
                                            <th scope="col">{{ 'HOME.EFFECTIVE_DATE' | translate }}</th>
                                            <th scope="col">{{ 'HOME.GROUP_TYPE' | translate }}</th>
                                            <th scope="col">{{ 'HOME.BRANCH_CODE' | translate }}</th>
                                            <th scope="col">{{ 'HOME.LOAN_CYCLE' | translate }}</th>
                                            <th scope="col">{{ 'HOME.PRODUCT_CODE' | translate }}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let list of loanCycleListArray" (dblclick)="dataNavigate(list);">
                                            <td>
                                                <label class="selection">
                                                    <input type="checkbox" name="" value="{{list.loanCycleParameterPrimaryCompositeEntity}}" [(ngModel)]="list.selected" (change)="toggleVisibility(list,$event);">
                                                </label>
                                            </td>
                                            <td>{{list.loanCycleParameterPrimaryCompositeEntity.mcusttype}}</td>
                                            <td>{{list.loanCycleParameterPrimaryCompositeEntity.meffdate | Custom | date :'yyyy-MM-dd'}}</td>
                                            <td>{{list.loanCycleParameterPrimaryCompositeEntity.mgrtype}}</td>
                                            <td>{{list.loanCycleParameterPrimaryCompositeEntity.mlbrcode}}</td>
                                            <td>{{list.loanCycleParameterPrimaryCompositeEntity.mloancycle}}</td>
                                            <td>{{list.loanCycleParameterPrimaryCompositeEntity.mprdcd}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- <div class="dt-extras">
                                <div class="dt-exports">
                                    <em>Export to :<span class="chevron"></span></em>
                                    <button class="linkbutton exp-excel">Excel <b>(.xlsx)</b></button>
                                    <button class="linkbutton exp-pdf">Pdf <b>(.pdf)</b></button>
                                    <button class="linkbutton exp-word">word <b>(.docx)</b></button>
                                    <button class="linkbutton exp-xml">XML <b>(.xml)</b></button>
                                    <button class="linkbutton exp-csv">csv <b>(.csv)</b></button>
                                </div>
                            </div> -->
                        </div>

                    </div><!--.in-mcontainer-->
                </div><!--.col-12-->
            </div><!--.row-->
        </div><!--.container-fluid-->
    </div><!--.in-main-->
</main><!--.main-container-->
<!-- ================ Main Page Content - End   ==============-->
<!--Alert Start-->
<div class="alerts" [ngClass]="{'alertWrapper': alert}">
    <div class="alert alert-custom" [ngClass]="{'alert-success': alertSuccess, 'alert-danger': !alertSuccess}" role="alert">
        {{alertMessage}}
    </div>
</div>
<!--Alert End-->


