<!-- ================ Global Header - Start ==============-->
<header class="global-header sticky-header">
    <div class="in-glheader">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="glheader-content">
                        <div class="brand-logo">
                            <img src="../assets/images/logo/brand-logo.png" alt="MFI">
                        </div><!--.brand-logo-->
                        <!-- <div class="product-heading">
                            <h1>MFI</h1>
                        </div>.product-heading	 -->
                        <div class="header-items">
                            <ul class="lst-header-items">
                                
                                <li class="hil-template">
                                    <a href="javascript:;" class="item-template">
                                        <img src="../../../assets/images/icon/search2x.png">
                                    </a>
                                </li>
                                <li class="hil-template">
                                    <a href="javascript:;" class="item-template">
                                        <i>8</i>
                                        <img src="../../../assets/images/icon/baseline-notification2x.png">
                                    </a>
                                </li>
                                <li class="hil-user-name">
                                    <!-- <em class="hi-user-greet">Hello,</em>  -->
                                    <a href="javascript:;" class="item-user">
                                        <img src="../../../assets/images/icon/Group2x.png">
                                        <span class="hi-user-name">Admin</span>
                                        <span class="chevron"></span>
                                    </a>
                                    <!-- <a href="javascript:;" class="item-logout btn-logout-confirm">
                                        <img src="../images/icon/logout.png">
                                    </a> -->
                                    <div class="sp-userprofile">
                                        <ul class="lst-sp-userprofile">
                                            <li>
                                                <a href="javascript:;" class="ic-userprofile">
                                                    <img src="../../../assets/images/icon/Group2x.png">
                                                    <div>
                                                        <h5>Abhishek Singh</h5>
                                                        <b>Last logged in <i>25 Sep 2018 10:00 pm</i></b>
                                                        <p>Today : <i>Wednesday, 26 Sep 2018</i></p>
                                                    </div>
                                                </a>
                                            </li>
                                            <li routerLinkActive="routerLinkActive">
                                                <a routerLink="/change-password" class="ic-upitems ic-changepass">Change Password</a>
                                            </li>
                                            <li>
                                                <a href="javascript:;" class="ic-upitems ic-editprofile">Edit Profile</a>
                                            </li>
                                            <li>
                                                <a class="ic-upitems ic-logout" (click)="logout()">Logout</a>
                                            </li>
                                        </ul><!--.lst-sp-userprofile-->
                                    </div><!--.sp-userprofile-->
                                </li><!-- <li class="hil-logout">
                                    <a href="javascript:;" class="item-logout">
                                        <img src="images/temp/power.png" width="18px" height="18px">
                                    </a>
                                </li> -->
                                
                                <!-- <li class="hil-help">
                                    <a href="javascript:;" class="item-help">
                                        <img src="../images/icon/help.png">
                                    </a>
                                </li>
                                <li class="hil-btn-glnav">
                                    <a href="javascript:;" class="item-nav">
                                        <img src="http://dummyimage.com/32">
                                        <div><div></div></div>
                                        <span>Menu</span>
                                    </a>
                                </li> -->
                            </ul><!--.lst-header-items-->
                        </div><!--.header-items-->
                    </div><!--.glheader-content-->
                </div><!--.col-12-->
            </div><!--.row-->
        </div><!--.container-->
    </div><!--.in-glheader-->
</header><!--.global-header-->

<!-- ================ Global Header - End   ==============-->
