<div class="breadcrumb">
    <ul class="lst-breadcrumb">
         <!-- <li>
            <a href="javascript:;">Master</a>
        </li> -->
        <li>
            <a href="javascript:;" routerLink="/system-parameter-view">{{ 'HOME.SYSTEM_PARAMETER' | translate }}</a>
        </li>
        <li class="current">{{ 'ACTION.TEXT_ADD' | translate }}</li>
    </ul><!--.lst-breadcrumb-->
</div>
<div class="vspacer20"></div>

<main class="main-container">
    <div class="in-main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="in-mcontainer">
                        <!--Alert Start-->
                        <div *ngIf="!code_exist" class="alert alert-danger code-exist-alert" role="alert">
                            {{code_exist_message}}
                        </div>
                        <!--Alert End-->

                        <div class="category">{{ 'HOME.SYSTEM_PARAMETER_DETAILS' | translate }}</div>
                        
                        <div class="vspacer20"></div>
                        <form [formGroup]="systemParForm">
                            <div class="row form-group">
                                <div class="col-12 col-md-4 col-lg-3">
                                    <div class="form-controller control-mandatory">
                                        <label>{{ 'HOME.CODE' | translate }}</label>
                                        <input type="text" formControlName="mcode" placeholder="{{ 'HOME.CODE' | translate }}"><u></u>
                                        <em *ngIf="systemParForm.controls['mcode'].hasError('required') && (systemParForm.controls['mcode'].dirty || systemParForm.controls['mcode'].touched)">{{ 'VALIDATION.REQUIRED' | translate }}</em>
                                        <em *ngIf="systemParForm.controls['mcode'].hasError('maxlength') && (systemParForm.controls['mcode'].dirty || systemParForm.controls['mcode'].touched)">{{ 'VALIDATION.MAX_30' | translate }}</em>
                                    </div><!--.form-control-->
                                </div>
                                <div class="col-12 col-md-4 col-lg-3">
                                    <div class="form-controller control-mandatory">
                                        <label>{{ 'HOME.BRANCH_CODE' | translate }}</label>
                                        <!-- <input type="text" formControlName="mlbrcode" placeholder="{{ 'HOME.BRANCH_CODE' | translate }}"><u></u> -->
                                        <input type="text" formControlName="mlbrcode" placeholder="{{ 'HOME.BRANCH_CODE' | translate }}" [attr.disabled]="true"><u></u>
                                        <a href="javascript:;" data-toggle="modal" data-target="#modal-sample-1"><button class="button sm over-input">Search</button></a>
                                        <!-- <div>
											<select formControlName="mlbrcode">
                                                <option value="Select" [selected]="true">Select</option>
                                                <option *ngFor="let data of branchDropdownData" value="{{data.mpbrcode}}">{{data.mname}}</option>
											</select><u></u>
                                        </div> -->
                                        <em *ngIf="systemParForm.controls['mlbrcode'].hasError('required') && (systemParForm.controls['mlbrcode'].dirty || systemParForm.controls['mlbrcode'].touched)">{{ 'VALIDATION.REQUIRED' | translate }}</em>
                                    </div><!--.form-control-->
                                </div>
                                <div class="col-12 col-md-4 col-lg-3">
                                    <div class="form-controller">
                                        <label>{{ 'HOME.CODE_VALUE' | translate }}</label>
                                        <input type="text" formControlName="mcodevalue" placeholder="{{ 'HOME.CODE_VALUE' | translate }}"><u></u>
                                        <em *ngIf="systemParForm.controls['mcodevalue'].hasError('maxlength') && (systemParForm.controls['mcodevalue'].dirty || systemParForm.controls['mcodevalue'].touched)">{{ 'VALIDATION.MAX_30' | translate }}</em>
                                    </div><!--.form-control-->
                                </div>
                                <div class="col-12 col-md-4 col-lg-3">
                                    <div class="form-controller">
                                        <label>{{ 'HOME.CODE_DESCRIPTION' | translate }}</label>
                                        <input type="text" formControlName="mcodedesc" placeholder="{{ 'HOME.CODE_DESCRIPTION' | translate }}"><u></u>
                                        <em *ngIf="systemParForm.controls['mcodedesc'].hasError('maxlength') && (systemParForm.controls['mcodedesc'].dirty || systemParForm.controls['mcodedesc'].touched)">{{ 'VALIDATION.MAX_100' | translate }}</em>
                                    </div><!--.form-control-->
                                </div>
                                   
                            </div>


                            <div class="row form-footer">
                                <div class="col-6">
                                    <div class="text-left">
                                        <button class="linkbutton" routerLink="/system-parameter-view">{{ 'ACTION.CANCEL' | translate }}</button>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-footer text-right">
                                        <button class="button" (click)="onSubmit(systemParForm.value)">{{ 'ACTION.SUBMIT' | translate }}</button>
                                    </div>
                                </div>
                            </div><!--.row-->
                        </form>

                    </div><!--.in-mcontainer-->
                </div><!--.col-12-->
            </div><!--.row-->
        </div><!--.container-fluid-->
    </div><!--.in-main-->
</main><!--.main-container-->
<!-- ================ Main Page Content - End   ==============-->

<div id="modal-sample-1" class="modal fade" role="dialog">
    <div class="modal-dialog modal-custom">
        <div class="modal-content">
            <div class="modal-header">
                <!-- <div class="mh-top">
                    <h6>Page Name</h6>
                </div>.mt-top -->
                <div class="mh-bottom">
                    <div class="row">
                        <div class="col-2"></div><!--.col-2-->
                        <div class="col-8">
                            <h4>Pick List</h4>
                        </div><!--.col-8-->
                        <div class="col-2">
                            <a href="javascript:;" class="mh-cross" data-dismiss="modal"></a>
                        </div><!--.col-2-->
                    </div><!--.row-->
                </div><!--.mh-bottom-->
            </div><!--.modal-header-->
            <div class="modal-body">
                <div class="modal-overflow">
                    <div class="datatable-box">
                        <div class="table-responsivebox">
                            <table id="dt-sample" class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">{{ 'HOME.CODE' | translate }}</th>
                                        <th scope="col">{{ 'HOME.DESCRIPTION' | translate }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="highlight" *ngFor="let list of branchDropdownData; let i = index" (click)="branchCodeSelected(list.mpbrcode,list.mname,i);" [class.active]="i == highlightRowBranch">
                                        <td>{{list.mpbrcode}}</td>
                                        <td>{{list.mname}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- <div class="dt-extras">
                            <div class="dt-exports">
                                <em>Export to :<span class="chevron"></span></em>
                                <button class="linkbutton exp-excel">Excel <b>(.xlsx)</b></button>
                                <button class="linkbutton exp-pdf">Pdf <b>(.pdf)</b></button>
                                <button class="linkbutton exp-word">word <b>(.docx)</b></button>
                                <button class="linkbutton exp-xml">XML <b>(.xml)</b></button>
                                <button class="linkbutton exp-csv">csv <b>(.csv)</b></button>
                            </div>
                        </div> -->
                    </div>
                </div><!--.modal-overflow-->
            </div><!--.modal-body-->
            <div class="modal-footer">
                <button type="button" class="button secondary" data-dismiss="modal">Cancel</button>
                <button *ngIf="proceedButtonBranch" type="button" class="button" (click)="proceedActionBranch();">Proceed</button>
            </div><!--.modal-footer-->
        </div><!--.modal-content-->
    </div><!--.modal-dialog-->
</div><!--.modal-->


