<!-- =============== Page Wrapper :: START =============== -->
<!-- ++ Everything should come in this section EXPECT modals, overlays -->
<div class="page-wrapper">
    <app-header></app-header>
    <app-nav-bar></app-nav-bar>
    <router-outlet></router-outlet>

</div><!--.page-wrapper-->
<div class="page-loader">
    <div class="loader">
        <div></div>
        <em>Loading...</em>
    </div><!--.loader-->
</div><!--.page-loader-->
<!-- =============== Page Wrapper :: END   =============== -->
